{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Wish List</title>
</head>

<body>
  <h1>Wish List</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">X</th>
      </tr>
    </thead>
    <tbody>
      {% for wish in wishlist %}
      <tr>
        <td>{{ wish.description }}</td>
        <td>
          <form action="{% url 'delete' wish.id%}" method="post">
            {% csrf_token %}<input type="submit" value="X">
          </form>
        </td>
      </tr>


      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'add' %}"><button>New Wish</button></a>
</body>

</html>